@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./Nunito-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Typicons */
@font-face {
  font-family: 'typicons';
  src: url('./typicons.woff2') format('woff2');
}

.i:before {
  font-family: typicons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.i-2x {
  font-size: 2em;
}

.i-3x {
  font-size: 3em;
}

.i-4x {
  font-size: 4em;
}

.i-5x {
  font-size: 5em;
}

.i-adjust-brightness:before {
  content: "\e000";
}

.i-adjust-contrast:before {
  content: "\e001";
}

.i-anchor-outline:before {
  content: "\e002";
}

.i-anchor:before {
  content: "\e003";
}

.i-archive:before {
  content: "\e004";
}

.i-arrow-back-outline:before {
  content: "\e005";
}

.i-arrow-back:before {
  content: "\e006";
}

.i-arrow-down-outline:before {
  content: "\e007";
}

.i-arrow-down-thick:before {
  content: "\e008";
}

.i-arrow-down:before {
  content: "\e009";
}

.i-arrow-forward-outline:before {
  content: "\e00a";
}

.i-arrow-forward:before {
  content: "\e00b";
}

.i-arrow-left-outline:before {
  content: "\e00c";
}

.i-arrow-left-thick:before {
  content: "\e00d";
}

.i-arrow-left:before {
  content: "\e00e";
}

.i-arrow-loop-outline:before {
  content: "\e00f";
}

.i-arrow-loop:before {
  content: "\e010";
}

.i-arrow-maximise-outline:before {
  content: "\e011";
}

.i-arrow-maximise:before {
  content: "\e012";
}

.i-arrow-minimise-outline:before {
  content: "\e013";
}

.i-arrow-minimise:before {
  content: "\e014";
}

.i-arrow-move-outline:before {
  content: "\e015";
}

.i-arrow-move:before {
  content: "\e016";
}

.i-arrow-repeat-outline:before {
  content: "\e017";
}

.i-arrow-repeat:before {
  content: "\e018";
}

.i-arrow-right-outline:before {
  content: "\e019";
}

.i-arrow-right-thick:before {
  content: "\e01a";
}

.i-arrow-right:before {
  content: "\e01b";
}

.i-arrow-shuffle:before {
  content: "\e01c";
}

.i-arrow-sorted-down:before {
  content: "\e01d";
}

.i-arrow-sorted-up:before {
  content: "\e01e";
}

.i-arrow-sync-outline:before {
  content: "\e01f";
}

.i-arrow-sync:before {
  content: "\e020";
}

.i-arrow-unsorted:before {
  content: "\e021";
}

.i-arrow-up-outline:before {
  content: "\e022";
}

.i-arrow-up-thick:before {
  content: "\e023";
}

.i-arrow-up:before {
  content: "\e024";
}

.i-at:before {
  content: "\e025";
}

.i-attachment-outline:before {
  content: "\e026";
}

.i-attachment:before {
  content: "\e027";
}

.i-backspace-outline:before {
  content: "\e028";
}

.i-backspace:before {
  content: "\e029";
}

.i-battery-charge:before {
  content: "\e02a";
}

.i-battery-full:before {
  content: "\e02b";
}

.i-battery-high:before {
  content: "\e02c";
}

.i-battery-low:before {
  content: "\e02d";
}

.i-battery-mid:before {
  content: "\e02e";
}

.i-beaker:before {
  content: "\e02f";
}

.i-beer:before {
  content: "\e030";
}

.i-bell:before {
  content: "\e031";
}

.i-book:before {
  content: "\e032";
}

.i-bookmark:before {
  content: "\e033";
}

.i-briefcase:before {
  content: "\e034";
}

.i-brush:before {
  content: "\e035";
}

.i-business-card:before {
  content: "\e036";
}

.i-calculator:before {
  content: "\e037";
}

.i-calendar-outline:before {
  content: "\e038";
}

.i-calendar:before {
  content: "\e039";
}

.i-camera-outline:before {
  content: "\e03a";
}

.i-camera:before {
  content: "\e03b";
}

.i-cancel-outline:before {
  content: "\e03c";
}

.i-cancel:before {
  content: "\e03d";
}

.i-chart-area-outline:before {
  content: "\e03e";
}

.i-chart-area:before {
  content: "\e03f";
}

.i-chart-bar-outline:before {
  content: "\e040";
}

.i-chart-bar:before {
  content: "\e041";
}

.i-chart-line-outline:before {
  content: "\e042";
}

.i-chart-line:before {
  content: "\e043";
}

.i-chart-pie-outline:before {
  content: "\e044";
}

.i-chart-pie:before {
  content: "\e045";
}

.i-chevron-left-outline:before {
  content: "\e046";
}

.i-chevron-left:before {
  content: "\e047";
}

.i-chevron-right-outline:before {
  content: "\e048";
}

.i-chevron-right:before {
  content: "\e049";
}

.i-clipboard:before {
  content: "\e04a";
}

.i-cloud-storage:before {
  content: "\e04b";
}

.i-cloud-storage-outline:before {
  content: "\e054";
}

.i-code-outline:before {
  content: "\e04c";
}

.i-code:before {
  content: "\e04d";
}

.i-coffee:before {
  content: "\e04e";
}

.i-cog-outline:before {
  content: "\e04f";
}

.i-cog:before {
  content: "\e050";
}

.i-compass:before {
  content: "\e051";
}

.i-contacts:before {
  content: "\e052";
}

.i-credit-card:before {
  content: "\e053";
}

.i-css3:before {
  content: "\e055";
}

.i-database:before {
  content: "\e056";
}

.i-delete-outline:before {
  content: "\e057";
}

.i-delete:before {
  content: "\e058";
}

.i-device-desktop:before {
  content: "\e059";
}

.i-device-laptop:before {
  content: "\e05a";
}

.i-device-phone:before {
  content: "\e05b";
}

.i-device-tablet:before {
  content: "\e05c";
}

.i-directions:before {
  content: "\e05d";
}

.i-divide-outline:before {
  content: "\e05e";
}

.i-divide:before {
  content: "\e05f";
}

.i-document-add:before {
  content: "\e060";
}

.i-document-delete:before {
  content: "\e061";
}

.i-document-text:before {
  content: "\e062";
}

.i-document:before {
  content: "\e063";
}

.i-download-outline:before {
  content: "\e064";
}

.i-download:before {
  content: "\e065";
}

.i-dropbox:before {
  content: "\e066";
}

.i-edit:before {
  content: "\e067";
}

.i-eject-outline:before {
  content: "\e068";
}

.i-eject:before {
  content: "\e069";
}

.i-equals-outline:before {
  content: "\e06a";
}

.i-equals:before {
  content: "\e06b";
}

.i-export-outline:before {
  content: "\e06c";
}

.i-export:before {
  content: "\e06d";
}

.i-eye-outline:before {
  content: "\e06e";
}

.i-eye:before {
  content: "\e06f";
}

.i-feather:before {
  content: "\e070";
}

.i-film:before {
  content: "\e071";
}

.i-filter:before {
  content: "\e072";
}

.i-flag-outline:before {
  content: "\e073";
}

.i-flag:before {
  content: "\e074";
}

.i-flash-outline:before {
  content: "\e075";
}

.i-flash:before {
  content: "\e076";
}

.i-flow-children:before {
  content: "\e077";
}

.i-flow-merge:before {
  content: "\e078";
}

.i-flow-parallel:before {
  content: "\e079";
}

.i-flow-switch:before {
  content: "\e07a";
}

.i-folder-add:before {
  content: "\e07b";
}

.i-folder-delete:before {
  content: "\e07c";
}

.i-folder-open:before {
  content: "\e07d";
}

.i-folder:before {
  content: "\e07e";
}

.i-gift:before {
  content: "\e07f";
}

.i-globe-outline:before {
  content: "\e080";
}

.i-globe:before {
  content: "\e081";
}

.i-group-outline:before {
  content: "\e082";
}

.i-group:before {
  content: "\e083";
}

.i-headphones:before {
  content: "\e084";
}

.i-heart-full-outline:before {
  content: "\e085";
}

.i-heart-half-outline:before {
  content: "\e086";
}

.i-heart-outline:before {
  content: "\e087";
}

.i-heart:before {
  content: "\e088";
}

.i-home-outline:before {
  content: "\e089";
}

.i-home:before {
  content: "\e08a";
}

.i-html5:before {
  content: "\e08b";
}

.i-image-outline:before {
  content: "\e08c";
}

.i-image:before {
  content: "\e08d";
}

.i-infinity-outline:before {
  content: "\e08e";
}

.i-infinity:before {
  content: "\e08f";
}

.i-info-large-outline:before {
  content: "\e090";
}

.i-info-large:before {
  content: "\e091";
}

.i-info-outline:before {
  content: "\e092";
}

.i-info:before {
  content: "\e093";
}

.i-input-checked-outline:before {
  content: "\e094";
}

.i-input-checked:before {
  content: "\e095";
}

.i-key-outline:before {
  content: "\e096";
}

.i-key:before {
  content: "\e097";
}

.i-keyboard:before {
  content: "\e098";
}

.i-leaf:before {
  content: "\e099";
}

.i-lightbulb:before {
  content: "\e09a";
}

.i-link-outline:before {
  content: "\e09b";
}

.i-link:before {
  content: "\e09c";
}

.i-location-arrow-outline:before {
  content: "\e09d";
}

.i-location-arrow:before {
  content: "\e09e";
}

.i-location-outline:before {
  content: "\e09f";
}

.i-location:before {
  content: "\e0a0";
}

.i-lock-closed-outline:before {
  content: "\e0a1";
}

.i-lock-closed:before {
  content: "\e0a2";
}

.i-lock-open-outline:before {
  content: "\e0a3";
}

.i-lock-open:before {
  content: "\e0a4";
}

.i-mail:before {
  content: "\e0a5";
}

.i-map:before {
  content: "\e0a6";
}

.i-media-eject-outline:before {
  content: "\e0a7";
}

.i-media-eject:before {
  content: "\e0a8";
}

.i-media-fast-forward-outline:before {
  content: "\e0a9";
}

.i-media-fast-forward:before {
  content: "\e0aa";
}

.i-media-pause-outline:before {
  content: "\e0ab";
}

.i-media-pause:before {
  content: "\e0ac";
}

.i-media-play-outline:before {
  content: "\e0ad";
}

.i-media-play-reverse-outline:before {
  content: "\e0ae";
}

.i-media-play-reverse:before {
  content: "\e0af";
}

.i-media-play:before {
  content: "\e0b0";
}

.i-media-record-outline:before {
  content: "\e0b1";
}

.i-media-record:before {
  content: "\e0b2";
}

.i-media-rewind-outline:before {
  content: "\e0b3";
}

.i-media-rewind:before {
  content: "\e0b4";
}

.i-media-stop-outline:before {
  content: "\e0b5";
}

.i-media-stop:before {
  content: "\e0b6";
}

.i-message-typing:before {
  content: "\e0b7";
}

.i-message:before {
  content: "\e0b8";
}

.i-messages:before {
  content: "\e0b9";
}

.i-microphone-outline:before {
  content: "\e0ba";
}

.i-microphone:before {
  content: "\e0bb";
}

.i-minus-outline:before {
  content: "\e0bc";
}

.i-minus:before {
  content: "\e0bd";
}

.i-mortar-board:before {
  content: "\e0be";
}

.i-news:before {
  content: "\e0bf";
}

.i-notes-outline:before {
  content: "\e0c0";
}

.i-notes:before {
  content: "\e0c1";
}

.i-pen:before {
  content: "\e0c2";
}

.i-pencil:before {
  content: "\e0c3";
}

.i-phone-outline:before {
  content: "\e0c4";
}

.i-phone:before {
  content: "\e0c5";
}

.i-pi-outline:before {
  content: "\e0c6";
}

.i-pi:before {
  content: "\e0c7";
}

.i-pin-outline:before {
  content: "\e0c8";
}

.i-pin:before {
  content: "\e0c9";
}

.i-pipette:before {
  content: "\e0ca";
}

.i-plane-outline:before {
  content: "\e0cb";
}

.i-plane:before {
  content: "\e0cc";
}

.i-plug:before {
  content: "\e0cd";
}

.i-plus-outline:before {
  content: "\e0ce";
}

.i-plus:before {
  content: "\e0cf";
}

.i-point-of-interest-outline:before {
  content: "\e0d0";
}

.i-point-of-interest:before {
  content: "\e0d1";
}

.i-power-outline:before {
  content: "\e0d2";
}

.i-power:before {
  content: "\e0d3";
}

.i-printer:before {
  content: "\e0d4";
}

.i-puzzle-outline:before {
  content: "\e0d5";
}

.i-puzzle:before {
  content: "\e0d6";
}

.i-radar-outline:before {
  content: "\e0d7";
}

.i-radar:before {
  content: "\e0d8";
}

.i-refresh-outline:before {
  content: "\e0d9";
}

.i-refresh:before {
  content: "\e0da";
}

.i-rss-outline:before {
  content: "\e0db";
}

.i-rss:before {
  content: "\e0dc";
}

.i-scissors-outline:before {
  content: "\e0dd";
}

.i-scissors:before {
  content: "\e0de";
}

.i-shopping-bag:before {
  content: "\e0df";
}

.i-shopping-cart:before {
  content: "\e0e0";
}

.i-social-at-circular:before {
  content: "\e0e1";
}

.i-social-dribbble-circular:before {
  content: "\e0e2";
}

.i-social-dribbble:before {
  content: "\e0e3";
}

.i-social-facebook-circular:before {
  content: "\e0e4";
}

.i-social-facebook:before {
  content: "\e0e5";
}

.i-social-flickr-circular:before {
  content: "\e0e6";
}

.i-social-flickr:before {
  content: "\e0e7";
}

.i-social-github-circular:before {
  content: "\e0e8";
}

.i-social-github:before {
  content: "\e0e9";
}

.i-social-google-plus-circular:before {
  content: "\e0ea";
}

.i-social-google-plus:before {
  content: "\e0eb";
}

.i-social-instagram-circular:before {
  content: "\e0ec";
}

.i-social-instagram:before {
  content: "\e0ed";
}

.i-social-last-fm-circular:before {
  content: "\e0ee";
}

.i-social-last-fm:before {
  content: "\e0ef";
}

.i-social-linkedin-circular:before {
  content: "\e0f0";
}

.i-social-linkedin:before {
  content: "\e0f1";
}

.i-social-pinterest-circular:before {
  content: "\e0f2";
}

.i-social-pinterest:before {
  content: "\e0f3";
}

.i-social-skype-outline:before {
  content: "\e0f4";
}

.i-social-skype:before {
  content: "\e0f5";
}

.i-social-tumbler-circular:before {
  content: "\e0f6";
}

.i-social-tumbler:before {
  content: "\e0f7";
}

.i-social-twitter-circular:before {
  content: "\e0f8";
}

.i-social-twitter:before {
  content: "\e0f9";
}

.i-social-vimeo-circular:before {
  content: "\e0fa";
}

.i-social-vimeo:before {
  content: "\e0fb";
}

.i-social-youtube-circular:before {
  content: "\e0fc";
}

.i-social-youtube:before {
  content: "\e0fd";
}

.i-sort-alphabetically-outline:before {
  content: "\e0fe";
}

.i-sort-alphabetically:before {
  content: "\e0ff";
}

.i-sort-numerically-outline:before {
  content: "\e100";
}

.i-sort-numerically:before {
  content: "\e101";
}

.i-spanner-outline:before {
  content: "\e102";
}

.i-spanner:before {
  content: "\e103";
}

.i-spiral:before {
  content: "\e104";
}

.i-star-full-outline:before {
  content: "\e105";
}

.i-star-half-outline:before {
  content: "\e106";
}

.i-star-half:before {
  content: "\e107";
}

.i-star-outline:before {
  content: "\e108";
}

.i-star:before {
  content: "\e109";
}

.i-starburst-outline:before {
  content: "\e10a";
}

.i-starburst:before {
  content: "\e10b";
}

.i-stopwatch:before {
  content: "\e10c";
}

.i-support:before {
  content: "\e10d";
}

.i-tabs-outline:before {
  content: "\e10e";
}

.i-tag:before {
  content: "\e10f";
}

.i-tags:before {
  content: "\e110";
}

.i-th-large-outline:before {
  content: "\e111";
}

.i-th-large:before {
  content: "\e112";
}

.i-th-list-outline:before {
  content: "\e113";
}

.i-th-list:before {
  content: "\e114";
}

.i-th-menu-outline:before {
  content: "\e115";
}

.i-th-menu:before {
  content: "\e116";
}

.i-th-small-outline:before {
  content: "\e117";
}

.i-th-small:before {
  content: "\e118";
}

.i-thermometer:before {
  content: "\e119";
}

.i-thumbs-down:before {
  content: "\e11a";
}

.i-thumbs-ok:before {
  content: "\e11b";
}

.i-thumbs-up:before {
  content: "\e11c";
}

.i-tick-outline:before {
  content: "\e11d";
}

.i-tick:before {
  content: "\e11e";
}

.i-ticket:before {
  content: "\e11f";
}

.i-time:before {
  content: "\e120";
}

.i-times-outline:before {
  content: "\e121";
}

.i-times:before {
  content: "\e122";
}

.i-trash:before {
  content: "\e123";
}

.i-tree:before {
  content: "\e124";
}

.i-upload-outline:before {
  content: "\e125";
}

.i-upload:before {
  content: "\e126";
}

.i-user-add-outline:before {
  content: "\e127";
}

.i-user-add:before {
  content: "\e128";
}

.i-user-delete-outline:before {
  content: "\e129";
}

.i-user-delete:before {
  content: "\e12a";
}

.i-user-outline:before {
  content: "\e12b";
}

.i-user:before {
  content: "\e12c";
}

.i-vendor-android:before {
  content: "\e12d";
}

.i-vendor-apple:before {
  content: "\e12e";
}

.i-vendor-microsoft:before {
  content: "\e12f";
}

.i-video-outline:before {
  content: "\e130";
}

.i-video:before {
  content: "\e131";
}

.i-volume-down:before {
  content: "\e132";
}

.i-volume-mute:before {
  content: "\e133";
}

.i-volume-up:before {
  content: "\e134";
}

.i-volume:before {
  content: "\e135";
}

.i-warning-outline:before {
  content: "\e136";
}

.i-warning:before {
  content: "\e137";
}

.i-watch:before {
  content: "\e138";
}

.i-waves-outline:before {
  content: "\e139";
}

.i-waves:before {
  content: "\e13a";
}

.i-weather-cloudy:before {
  content: "\e13b";
}

.i-weather-downpour:before {
  content: "\e13c";
}

.i-weather-night:before {
  content: "\e13d";
}

.i-weather-partly-sunny:before {
  content: "\e13e";
}

.i-weather-shower:before {
  content: "\e13f";
}

.i-weather-snow:before {
  content: "\e140";
}

.i-weather-stormy:before {
  content: "\e141";
}

.i-weather-sunny:before {
  content: "\e142";
}

.i-weather-windy-cloudy:before {
  content: "\e143";
}

.i-weather-windy:before {
  content: "\e144";
}

.i-wi-fi-outline:before {
  content: "\e145";
}

.i-wi-fi:before {
  content: "\e146";
}

.i-wine:before {
  content: "\e147";
}

.i-world-outline:before {
  content: "\e148";
}

.i-world:before {
  content: "\e149";
}

.i-zoom-in-outline:before {
  content: "\e14a";
}

.i-zoom-in:before {
  content: "\e14b";
}

.i-zoom-out-outline:before {
  content: "\e14c";
}

.i-zoom-out:before {
  content: "\e14d";
}

.i-zoom-outline:before {
  content: "\e14e";
}

.i-zoom:before {
  content: "\e14f";
}
